openapi: 3.1.0
info:
  title: Planet Motors API
  description: |
    Planet Motors - Canada's Premier Online Used Car Marketplace
    
    ## Features
    - 210-point vehicle inspections
    - Multi-lender financing (6 Canadian banks)
    - Instant trade-in valuations via Canadian Black Book
    - Home delivery across Ontario
    - 10-day return policy
    
    ## Authentication
    Most endpoints require a Bearer token. Include it in the Authorization header:
    ```
    Authorization: Bearer <your_token>
    ```
    
    ## Rate Limiting
    - Standard endpoints: 100 requests per 15 minutes
    - Financing endpoints: 10 requests per 15 minutes
  version: 1.0.0
  contact:
    name: Planet Motors API Support
    email: api@planetmotors.ca
    url: https://www.planetmotors.ca
  license:
    name: Proprietary
    url: https://www.planetmotors.ca/terms

servers:
  - url: https://api.planetmotors.ca/v1
    description: Production
  - url: https://api-staging.planetmotors.ca/v1
    description: Staging
  - url: http://localhost:3000/api/v1
    description: Local Development

tags:
  - name: Vehicles
    description: Vehicle inventory and search
  - name: Inspections
    description: 210-point inspection reports
  - name: Financing
    description: Multi-lender financing applications
  - name: Trade-In
    description: Vehicle trade-in valuations
  - name: Orders
    description: Purchase orders and tracking
  - name: Deliveries
    description: Home delivery scheduling

paths:
  /vehicles:
    get:
      tags: [Vehicles]
      summary: List vehicles
      description: Get a paginated list of available vehicles with filtering options
      operationId: listVehicles
      parameters:
        - name: make
          in: query
          schema:
            type: string
          example: Honda
        - name: model
          in: query
          schema:
            type: string
          example: Accord
        - name: minYear
          in: query
          schema:
            type: integer
          example: 2020
        - name: maxYear
          in: query
          schema:
            type: integer
          example: 2024
        - name: minPrice
          in: query
          schema:
            type: integer
          example: 20000
        - name: maxPrice
          in: query
          schema:
            type: integer
          example: 50000
        - name: bodyStyle
          in: query
          schema:
            type: string
            enum: [Sedan, SUV, Truck, Coupe, Hatchback, Van, Wagon]
        - name: fuelType
          in: query
          schema:
            type: string
            enum: [Gasoline, Electric, Hybrid, Diesel]
        - name: transmission
          in: query
          schema:
            type: string
            enum: [Automatic, Manual]
        - name: page
          in: query
          schema:
            type: integer
            default: 1
        - name: limit
          in: query
          schema:
            type: integer
            default: 20
            maximum: 100
        - name: sort
          in: query
          schema:
            type: string
            enum: [price, mileage, year, createdAt]
            default: createdAt
        - name: order
          in: query
          schema:
            type: string
            enum: [asc, desc]
            default: desc
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleListResponse'
    
    post:
      tags: [Vehicles]
      summary: Search vehicles
      description: Advanced search with faceted filtering
      operationId: searchVehicles
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleSearchRequest'
      responses:
        '200':
          description: Search results
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleSearchResponse'

  /vehicles/{id}:
    get:
      tags: [Vehicles]
      summary: Get vehicle details
      description: Get complete details for a specific vehicle
      operationId: getVehicle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Vehicle details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VehicleDetailResponse'
        '404':
          description: Vehicle not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /vehicles/{id}/inspection:
    get:
      tags: [Inspections]
      summary: Get 210-point inspection
      description: Get the complete 210-point inspection report for a vehicle
      operationId: getInspection
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Inspection report
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InspectionResponse'

  /financing/prequalify:
    post:
      tags: [Financing]
      summary: Prequalify for financing
      description: |
        Soft credit pull - no impact to credit score.
        Get prequalified offers from multiple Canadian lenders.
      operationId: prequalify
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrequalifyRequest'
      responses:
        '200':
          description: Prequalification result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrequalifyResponse'

  /financing/apply:
    post:
      tags: [Financing]
      summary: Submit full application
      description: |
        Full credit application - hard credit pull.
        Submits to selected lenders and returns real offers.
      operationId: applyFinancing
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FinancingApplicationRequest'
      responses:
        '200':
          description: Application submitted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FinancingApplicationResponse'

  /financing/calculator:
    post:
      tags: [Financing]
      summary: Calculate payments
      description: Calculate monthly payments with Canadian tax rates
      operationId: calculatePayments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculatorRequest'
      responses:
        '200':
          description: Payment calculation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculatorResponse'

  /financing/lenders:
    get:
      tags: [Financing]
      summary: List available lenders
      description: Get list of Canadian lenders with their criteria
      operationId: listLenders
      responses:
        '200':
          description: Lender list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LenderListResponse'

  /trade-in/instant-offer:
    post:
      tags: [Trade-In]
      summary: Get instant trade-in offer
      description: Get an instant trade-in offer powered by Canadian Black Book
      operationId: getInstantOffer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TradeInRequest'
      responses:
        '200':
          description: Trade-in offer
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TradeInResponse'

  /trade-in/valuation:
    get:
      tags: [Trade-In]
      summary: Get CBB valuation
      description: Get Canadian Black Book valuation for a vehicle
      operationId: getValuation
      parameters:
        - name: year
          in: query
          required: true
          schema:
            type: integer
        - name: make
          in: query
          required: true
          schema:
            type: string
        - name: model
          in: query
          required: true
          schema:
            type: string
        - name: mileage
          in: query
          required: true
          schema:
            type: integer
        - name: condition
          in: query
          schema:
            type: string
            enum: [excellent, good, fair, poor]
            default: good
      responses:
        '200':
          description: Valuation result
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValuationResponse'

  /orders:
    post:
      tags: [Orders]
      summary: Create order
      description: Create a new vehicle purchase order
      operationId: createOrder
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '200':
          description: Order created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
    
    get:
      tags: [Orders]
      summary: List orders
      description: List customer orders
      operationId: listOrders
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [created, pending, confirmed, preparing, delivering, delivered, returned]
      responses:
        '200':
          description: Order list
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Vehicle:
      type: object
      properties:
        id:
          type: string
          format: uuid
        vin:
          type: string
        year:
          type: integer
        make:
          type: string
        model:
          type: string
        trim:
          type: string
        price:
          type: number
        mileage:
          type: integer
        exteriorColor:
          type: string
        interiorColor:
          type: string
        fuelType:
          type: string
        transmission:
          type: string
        drivetrain:
          type: string
        engine:
          type: string
        bodyStyle:
          type: string
        status:
          type: string
          enum: [available, reserved, pending, sold]
        inspectionScore:
          type: integer
        photos:
          type: array
          items:
            type: string
        features:
          type: array
          items:
            type: string

    VehicleListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            vehicles:
              type: array
              items:
                $ref: '#/components/schemas/Vehicle'
            pagination:
              $ref: '#/components/schemas/Pagination'
            filters:
              type: object

    VehicleSearchRequest:
      type: object
      properties:
        query:
          type: string
        filters:
          type: object
        sort:
          type: object
        pagination:
          type: object

    VehicleSearchResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            vehicles:
              type: array
              items:
                $ref: '#/components/schemas/Vehicle'
            total:
              type: integer
            aggregations:
              type: object

    VehicleDetailResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            vehicle:
              $ref: '#/components/schemas/Vehicle'
            meta:
              type: object

    InspectionResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            inspection:
              type: object
              properties:
                id:
                  type: string
                totalPoints:
                  type: integer
                  example: 210
                passedPoints:
                  type: integer
                passRate:
                  type: number
                categories:
                  type: array
                  items:
                    type: object
                repairsPerformed:
                  type: array
                  items:
                    type: object

    PrequalifyRequest:
      type: object
      required:
        - annualIncome
        - requestedAmount
      properties:
        customerId:
          type: string
        vehicleId:
          type: string
        employmentStatus:
          type: string
        annualIncome:
          type: number
        monthlyRent:
          type: number
        requestedAmount:
          type: number
        requestedTerm:
          type: integer

    PrequalifyResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            prequalification:
              type: object
            message:
              type: string
            nextSteps:
              type: array
              items:
                type: string

    FinancingApplicationRequest:
      type: object
      required:
        - firstName
        - lastName
        - email
        - phone
        - annualIncome
        - requestedAmount
      properties:
        firstName:
          type: string
        lastName:
          type: string
        email:
          type: string
          format: email
        phone:
          type: string
        dateOfBirth:
          type: string
          format: date
        annualIncome:
          type: number
        requestedAmount:
          type: number
        requestedTerm:
          type: integer
        downPayment:
          type: number
        selectedLenderIds:
          type: array
          items:
            type: string

    FinancingApplicationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            application:
              type: object
            message:
              type: string
            nextSteps:
              type: array
              items:
                type: string

    CalculatorRequest:
      type: object
      required:
        - vehiclePrice
      properties:
        vehiclePrice:
          type: number
        tradeInValue:
          type: number
        downPayment:
          type: number
        interestRate:
          type: number
        termMonths:
          type: integer
        province:
          type: string
          enum: [ON, BC, AB, QC, NS, NB, PE, MB, SK, NL, NT, YT, NU]

    CalculatorResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            calculation:
              type: object
            amortizationPreview:
              type: array
              items:
                type: object
            termComparison:
              type: array
              items:
                type: object

    LenderListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            lenders:
              type: array
              items:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    type: string
                  minCreditScore:
                    type: integer
                  maxTermMonths:
                    type: integer
                  rateFrom:
                    type: number
                  rateTo:
                    type: number

    TradeInRequest:
      type: object
      required:
        - year
        - make
        - model
        - mileage
      properties:
        vin:
          type: string
        year:
          type: integer
        make:
          type: string
        model:
          type: string
        trim:
          type: string
        mileage:
          type: integer
        condition:
          type: string
          enum: [excellent, good, fair, poor]
        accidentHistory:
          type: boolean
        hasLien:
          type: boolean
        payoffAmount:
          type: number

    TradeInResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            offer:
              type: object
            message:
              type: string
            comparison:
              type: object

    ValuationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            valuation:
              type: object
              properties:
                value:
                  type: object
                  properties:
                    low:
                      type: number
                    mid:
                      type: number
                    high:
                      type: number

    CreateOrderRequest:
      type: object
      required:
        - customerId
        - vehicleId
        - paymentMethod
      properties:
        customerId:
          type: string
        vehicleId:
          type: string
        financingOfferId:
          type: string
        paymentMethod:
          type: string
          enum: [financing, cash, bank_draft]
        tradeInOfferId:
          type: string
        deliveryType:
          type: string
          enum: [delivery, pickup]
        downPayment:
          type: number

    OrderResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            order:
              type: object
            message:
              type: string
            nextSteps:
              type: array
              items:
                type: string

    OrderListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            orders:
              type: array
              items:
                type: object
            pagination:
              $ref: '#/components/schemas/Pagination'

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total:
          type: integer
        totalPages:
          type: integer
        hasMore:
          type: boolean

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
